@use '../variables' as *;
@use '../base/typography' as *;
@use "sass:color";


.circle {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  font-family: $font-family-primary;
  transition: opacity 0.3s ease;

  &-text {
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: pre-line; /* Поддерживает \n как перенос */
    word-wrap: break-word;
    font-size: $font-size-h2; // гарантируем одинаковый размер
    line-height: $line-height-normal;
    color: $text-color-secondary;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
}
